<!-- app/views/lists/show.html.erb -->
<h1><%= @list.name %></h1>

<%# display bookmarks %>
<% @list.bookmarks.each do |bookmark| %>
<li> <%= bookmark.comment %></li>
<% end %>

 <li><%= link_to "Create new bookmark", new_list_bookmark_path(@list) %></li>
